{% extends "::base.html.twig" %}

{% block body %}
    <h2>Contact</h2>

    <p>
        Pour me contacter, ça n'est pas très compliqué.
        Il suffit de m'envoyer un e-mail à l'adresse :<br />gregoire arobase marchal point email
    </p>

    <p>
        Sinon, il y a twitter : <a href="https://twitter.com/Gregoire_M" target="_blank">@Gregoire_M</a>
    </p>
{% endblock %}
