{% extends "::base.html.twig" %}

{% block masthead %}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Est-ce que je dois changer ma cartouche Brita ?</h1>
        <p class="lead">
            Vous avez une carafe Brita ? Et vous ne savez jamais quand il faut changer votre cartouche ?<br />
            Ce site est fait pour vous.<br /><br />
            En un clic, créez la page de gestion de votre carafe Brita :
        </p>
        <form action="{{ path('cartouche_new') }}" method="post">
            <p><button class="btn btn-lg btn-success"role="button">Je veux gérer une nouvelle carafe !</button></p>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h2>Notification par e-mail</h2>

            <p>
                Recevez un e-mail à chaque fois que vous devez changer votre cartouche Brita.
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Pas de carafe Brita ?</h2>

            <p>
                Vous pouvez en acheter une ici par exemple (avec ces liens sponsorisés, vous participez au finacement de ce merveilleux service)
            </p>

            <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=estcequejedoi-21&o=8&p=12&l=st1&mode=kitchen-fr&search=carafe%20brita&fc1=000000&lt1=_blank&lc1=428BCA&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="300" height="250" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
        </div>
        <div class="col-lg-4">
            <h2>Plus de cartouche Brita ?</h2>

            <p>
                Vous pouvez en acheter ici par exemple (avec ces liens sponsorisés, vous participez au finacement de ce merveilleux service)
            </p>

            <iframe src="http://rcm-eu.amazon-adsystem.com/e/cm?t=estcequejedoi-21&o=8&p=12&l=st1&mode=kitchen-fr&search=cartouche%20brita&fc1=000000&lt1=_blank&lc1=428BCA&bg1=FFFFFF&f=ifr" marginwidth="0" marginheight="0" width="300" height="250" border="0" frameborder="0" style="border:none;" scrolling="no"></iframe>
        </div>
    </div>

{% endblock %}
