{% extends "::base.html.twig" %}

{% block masthead %}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Est-ce que je dois changer ma cartouche Brita ?</h1>
        <p class="lead">
            Vous avez une carafe Brita ? Et vous ne savez jamais quand il faut changer votre cartouche ?<br />
            Ce site est fait pour vous.<br /><br />
            En un clic, créez la page de gestion de votre carafe Brita :
        </p>
        <form action="{{ path('cartouche_new') }}" method="post">
            <p><button class="btn btn-lg btn-success"role="button">Je veux gérer une nouvelle carafe !</button></p>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>Fonctionnalités</h2>

            <dl class="dl-horizontal">
                <dt>Pas d'enregistrement</dt>
                <dd>
                    Pas de compte à créer, pas d'informations à fournir. Ajoutez simplement l'URL de votre carafe à vos
                    favoris, et le tour est joué.
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Notification par e-mail</dt>
                <dd>Si vous le souhaitez, recevez un e-mail à chaque fois que vous devez changer votre cartouche Brita.</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Personnalisation</dt>
                <dd>
                    Par défaut, vous serez notifié 28 jours après le précédent changement de cartouche. Vous pouvez
                    modifier cette durée à votre convenance.
                </dd>
            </dl>
        </div>
        <div class="col-lg-6">
            <h2>Pas de carafe Brita ?</h2>

            <p>
                Vous pouvez en acheter une ici par exemple (avec ces liens sponsorisés amazon, vous participez au financement de ce merveilleux service) :
                <ul>
                    <li>
                        <a href="http://www.amazon.fr/gp/product/B007Y6DS84/ref=as_li_tf_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=B007Y6DS84&linkCode=as2&tag=estcequejedoi-21" target="_blank">Brita 040 147 Pack de démarrage Marella Cool Blanc</a><img src="http://ir-fr.amazon-adsystem.com/e/ir?t=estcequejedoi-21&l=as2&o=8&a=B007Y6DS84" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    </li>
                    <li>
                        <a href="http://www.amazon.fr/gp/product/B006ZYBQN0/ref=as_li_tf_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=B006ZYBQN0&linkCode=as2&tag=estcequejedoi-21" target="_blank">Brita 1008485 MARELLA Lavande avec 1 cartouche MAXTRA incluse</a><img src="http://ir-fr.amazon-adsystem.com/e/ir?t=estcequejedoi-21&l=as2&o=8&a=B006ZYBQN0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    </li>
                    <li>
                        <a href="http://www.amazon.fr/gp/product/B001EHF29W/ref=as_li_tf_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=B001EHF29W&linkCode=as2&tag=estcequejedoi-21" target="_blank">BRITA Fjord Cool Midnight Blue Water Filter Jug Annual Pack - 12 cartouches (11 + 1 dans la carafe)</a><img src="http://ir-fr.amazon-adsystem.com/e/ir?t=estcequejedoi-21&l=as2&o=8&a=B001EHF29W" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    </li>
                </ul>
            </p>
        </div>
    </div>

{% endblock %}
