<ul>
    <li>
        <a href="http://www.amazon.fr/gp/product/B001T9N51M/ref=as_li_tf_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=B001T9N51M&linkCode=as2&tag=estcequejedoi-21">Brita Lot de 12 Cartouches Maxtra pour Carafes Filtrantes</a><img src="http://ir-fr.amazon-adsystem.com/e/ir?t=estcequejedoi-21&l=as2&o=8&a=B001T9N51M" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
    <li>
        <a href="http://www.amazon.fr/gp/product/B001FWYYAY/ref=as_li_tf_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=B001FWYYAY&linkCode=as2&tag=estcequejedoi-21">Brita 101929 Pack de 5 Cartouches Maxtra + 1 offerte</a><img src="http://ir-fr.amazon-adsystem.com/e/ir?t=estcequejedoi-21&l=as2&o=8&a=B001FWYYAY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
    <li>
        <a href="http://www.amazon.fr/gp/product/B007RELSXA/ref=as_li_tf_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=B007RELSXA&linkCode=as2&tag=estcequejedoi-21">A001 - Brita Maxtra compatible pack de 6 cartouches marque Aqua Optima - Evolve - Capacite 150 litres.</a><img src="http://ir-fr.amazon-adsystem.com/e/ir?t=estcequejedoi-21&l=as2&o=8&a=B007RELSXA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
    <li>
        <a href="http://www.amazon.fr/gp/product/B001T9N60M/ref=as_li_tf_tl?ie=UTF8&camp=1642&creative=6746&creativeASIN=B001T9N60M&linkCode=as2&tag=estcequejedoi-21">BRITA Classic Water Filter Cartridge 8 Pack</a><img src="http://ir-fr.amazon-adsystem.com/e/ir?t=estcequejedoi-21&l=as2&o=8&a=B001T9N60M" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </li>
</ul>
