Bonjour,<br />
<br />
L'heure est venue. C'est le moment, c'est l'instant. Il le faut.<br />
<strong>Changez votre cartouche Brita.</strong><br />
<br />
Et quand c'est fait, pour recevoir la prochaine notification dans {{ cartouche.duration }} jours, cliquez ici :<br />
<br />
<a href="{{ url('cartouche_change', {'url': cartouche.url}) }}">Ca y est, j'ai changé ma cartouche !</a><br />
<br />
Merci, et à bientôt !<br />
<br />
<br />
PS : pour ne plus recevoir cette notification, veuillez modifier vos paramètres à cette adresse :
<a href="{{ url('cartouche_edit', {'url': cartouche.url}) }}">{{ url('cartouche_edit', {'url': cartouche.url}) }}</a>
